{% extends "layouts/default.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% if product %}
        <div class="row">
            <div class="col-6">
                {% if product.image %}
                    <div class="image__wrap">
                        <img class="full-image" src="public/img/{{ product.thumb }}" alt="{{ product.name }}">
                    </div>
                {% else %}
                    <p>Нет изображения в базе данных</p>
                {% endif %}
            </div>
            <div class="col-6">
                <div class="description-item">Наименование:
                    {{ product.name }}
                </div>
                <div class="description-item">Количество:
                    {{ product.quantity }}
                </div>
                <div class="description-item">Цена:
                    {{ product.price }}
                </div>
                <div class="description-item">Число просмотров:
                    {{ product.views }}
                </div>
                <div class="product-cart">
                    <a class="btn btn-primary addToCart" data-id="{{ product.product_id }}"
                       href="/product?addToCart=1&product_id={{ product.product_id }}"
                       title="Добавить товар в корзину">Добавить в корзину</a>
                </div>
            </div>
        </div>
    {% else %}
        <p>Нет товара в базе данных</p>
    {% endif %}

{% endblock %}